numpy
pydub
youtube-dl
scikit-learn
scikit-video
scikit-image
google-cloud-storage
torchvision==0.9.1
regex==2021.4.4
ftfy==6.0.3
omegaconf==2.1.0
torch==1.8.1
torchaudio==0.8.1
tqdm==4.61.0
hydra_core==1.1.0
einops==0.3.0
tensorflow==2.5.0
fvcore==0.1.5.post20210609
hydra==2.5
Pillow==8.2.0
pytest==6.2.4
