ftfy==6.0.3
regex==2021.4.4
tabulate==0.8.9
timm==0.4.12
omegaconf==2.1.0
einops==0.3.0
torchvision==0.9.1
tqdm==4.62.3
termcolor==1.1.0
fvcore==0.1.5.post20210609
torch==1.8.1
torchaudio==0.8.1
clip==0.2.0
Pillow==8.4.0
scikit_learn==1.0.1
omegaconf==2.1.0
hydra_core==1.1.0
hydra==2.5
pytest==6.2.4

pydub
soundfile
youtube-dl
scikit-learn
scikit-video
scikit-image
google-cloud-storage
numpy==1.19.5
